################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Otus_HW4/.vs/Otus_HW4
/Otus_HW4/bin/Debug/net6.0
/Otus_HW4/obj
